@CHARSET "ISO-8859-1";
table{
	 background-color: #FFF8DC;
}
 th{
	font-size: 25px;
}
th, td {
    padding-left: 18px;
    text-align: left;
}
.details .table1{
	display: block;
	position: relative;
	width: 300px;
	height: 396px;
}
.details .table2{
	display: block;
	position: relative;
	width: 310px;
	height: 298px;
}
.details .table3{
	display: block;
	position: relative;
	width: 400px;
	height: 330px;
}
.details .table4{
	display: block;
	position: relative;
	
}