<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EHI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchEmployee</display-name>
    <servlet-name>SearchEmployee</servlet-name>
    <servlet-class>controller.SearchEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEmployee</servlet-name>
    <url-pattern>/SearchEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLoginDetails</display-name>
    <servlet-name>AddLoginDetails</servlet-name>
    <servlet-class>controller.AddLoginDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLoginDetails</servlet-name>
    <url-pattern>/AddLoginDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployee</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>controller.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDependent</display-name>
    <servlet-name>AddDependent</servlet-name>
    <servlet-class>controller.AddDependent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDependent</servlet-name>
    <url-pattern>/AddDependent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TPALoginController</display-name>
    <servlet-name>TPALoginController</servlet-name>
    <servlet-class>controller.TPALoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TPALoginController</servlet-name>
    <url-pattern>/TPALoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequestList</display-name>
    <servlet-name>ViewRequestList</servlet-name>
    <servlet-class>controller.ViewRequestList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequestList</servlet-name>
    <url-pattern>/ViewRequestList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHealthInsuranceDetails</display-name>
    <servlet-name>GetHealthInsuranceDetails</servlet-name>
    <servlet-class>controller.GetHealthInsuranceDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHealthInsuranceDetails</servlet-name>
    <url-pattern>/GetHealthInsuranceDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeeDetails</display-name>
    <servlet-name>ViewEmployeeDetails</servlet-name>
    <servlet-class>controller.ViewEmployeeDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeeDetails</servlet-name>
    <url-pattern>/ViewEmployeeDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDependentDetails</display-name>
    <servlet-name>ViewDependentDetails</servlet-name>
    <servlet-class>controller.ViewDependentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDependentDetails</servlet-name>
    <url-pattern>/ViewDependentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecisionController</display-name>
    <servlet-name>DecisionController</servlet-name>
    <servlet-class>controller.DecisionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecisionController</servlet-name>
    <url-pattern>/DecisionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPolicyDetails</display-name>
    <servlet-name>ViewPolicyDetails</servlet-name>
    <servlet-class>controller.ViewPolicyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPolicyDetails</servlet-name>
    <url-pattern>/ViewPolicyDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterEmployee</display-name>
    <servlet-name>RegisterEmployee</servlet-name>
    <servlet-class>controller.RegisterEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEmployee</servlet-name>
    <url-pattern>/RegisterEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateCard</display-name>
    <servlet-name>GenerateCard</servlet-name>
    <servlet-class>controller.GenerateCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateCard</servlet-name>
    <url-pattern>/GenerateCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>controller.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
</web-app>